<!-- Page Header -->
<div class="page-header">
	<div class="pull-left">
		<ol class="breadcrumb visible-sm visible-md visible-lg">
			<li><a href="index.html"><i class="icon fa fa-home"></i>我的空间</a></li>
			<li><a href="#"><i class="fa fa-envelope"></i>博文</a></li>
			<li class="active"><i class="fa fa-envelope-o"></i>阅读博文</li>
		</ol>
	</div>
	<div class="pull-right">
		<h2>我的空间</h2>
	</div>
</div>
<!-- End Page Header -->
<div class="row mailbox">
     <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" ng-include="'/template/spacenav.html'"></div>
	<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12" ng-controller="articlecontroller">
		<div class="panel bk-bg-white">
			<div class="panel-body message mailbox-btn-action">
				<div class="col-md-12">
					<span class="item-action-group"> <a
						class="item-action fa fa-star" href="#"></a> <a
						class="item-action fa fa-star-o" href="#"></a> <a
						class="item-action fa fa-bookmark-o" href="#"></a>
					</span> <span class="item-action-group"> <a
						class="item-action fa fa-mail-reply" href="#"></a> <a
						class="item-action fa fa-mail-reply-all" href="#"></a> <a
						class="item-action fa fa-mail-forward" href="#"></a>
					</span> <span class="item-action-group"> <a
						class="item-action fa fa-trash-o" href="#"></a> <a
						class="item-action fa fa-tags" href="#"></a>
					</span>
				</div>
				<div class="col-md-12">
					<div class="message-title">{{article.title}}</div>
					<div class="header">
						<img class="avatar" src="/assets/img/avatar.jpg" />
						<div class="from">
							<span>Jhon Smith</span> jhonsmith@mail.com
						</div>
						<div class="date">
							<span class="fa fa-paper-clip"></span> Today, <b>08:45 AM</b>
						</div>
						<div class="menu"></div>
					</div>
					<div class="content" ng-bind-html = "htmlstr">
						
					</div>
					
					<div class="panel" id="message-reply">
						<div class="panel-body message-reply">
							<div class="mailbox-compose" data-mailbox
								data-mailbox-view="compose">
								<div class="compose">
									<div id="compose-field" class="compose-control"></div>
								</div>
								<div class="text-right bk-margin-right-10">
									<a href="#" class="btn btn-primary"> <i class="fa fa-send"></i>
										Send
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>