<!-- Page Header -->
<div class="page-header">
	<div class="pull-left">
		<ol class="breadcrumb visible-sm visible-md visible-lg">
			<li><a href="index.html"><i class="icon fa fa-home"></i>Home</a></li>
			<li><a href="#"><i class="fa fa-envelope"></i>Mail</a></li>
			<li class="active"><i class="fa fa-inbox"></i>Inbox</li>
		</ol>
	</div>
	<div class="pull-right">
		<h2>Inbox</h2>
	</div>
</div>
<!-- End Page Header -->
<div class="row mailbox" ng-controller="spacecontroller">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<div class="panel">
			<div class="panel-body bk-bg-very-light-gray mailbox-menu">
				<a href="page-inbox-compose.html" class="btn btn-primary btn-block">Compose</a>
				<ul>
					<li><a href="#/writeblog">Inbox<span
							class="label label-primary">165</span></a></li>
					<li><a href="page-inbox-compose.html#">Stared</a></li>
					<li><a href="page-inbox-compose.html#">Sent Mail</a></li>
					<li><a href="page-inbox-compose.html#">Important<span
							class="label label-info">7</span></a></li>
					<li><a href="page-inbox-compose.html#">Draft<span
							class="label label-warning">3</span></a></li>
					<li><a href="page-inbox-compose.html#"></i>Trash</a></li>
					<hr />
					<h5 class="bk-fg-primary">Labels</h5>
					<li><a href="page-inbox-compose.html#">Work <span
							class="ball pink"></span></span></a></li>
					<li><a href="page-inbox-compose.html#">Private <span
							class="ball green"></span></a></li>
					<li><a href="page-inbox-compose.html#">Clients <span
							class="ball blue"></span></a></li>
					<li><a href="page-inbox-compose.html#">Travel <span
							class="ball orange"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="panel">
			<div class="panel-body bk-bg-very-light-gray mailbox-chat">
				<h5 class="bk-fg-primary">Live Chat</h5>
				<ul>
					<li><span class="ball green"></span> Sarah Hiltser</li>
					<li><span class="ball green"></span> Stephano Odo</li>
					<li><span class="ball green"></span> Malras</li>
					<li><span class="ball dark"></span> Derbi Mondro</li>
					<li><span class="ball green"></span> Jessy Doe</li>
					<li><span class="ball orange"></span> Gerry</li>
					<li><span class="ball green"></span> Kevin</li>
					<li><span class="ball yellow"></span> Carlina Minfa</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
		<div class="panel bk-bg-white">
			<div class="panel-body mailbox-btn-action">
				<div class="col-sm-8 col-xs-12 bk-padding-5 text-center">
					<span class="item-action-group"> <a
						class="item-action fa fa-envelope" href="#"></a> <a
						class="item-action fa fa-star" href="#"></a> <a
						class="item-action fa fa-star-o" href="#"></a> <a
						class="item-action fa fa-bookmark-o" href="#"></a>
					</span> <span class="item-action-group"> <a
						class="item-action fa fa-mail-reply" href="#"></a> <a
						class="item-action fa fa-mail-reply-all" href="#"></a> <a
						class="item-action fa fa-mail-forward" href="#"></a>
					</span> <span class="item-action-group"> <a
						class="item-action fa fa-trash-o" href="#"></a> <a
						class="item-action fa fa-refresh" href="#"></a> <a
						class="item-action fa fa-tags" href="#"></a>
					</span>
				</div>
				<div class="col-sm-4 col-xs-12">
					<div class="search bk-padding-5">
						<div class="input-group input-search">
							<input type="text" class="form-control" name="q" id="q"
								placeholder="Search..." /> <span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel bk-bg-white">
			<div class="panel-body">
				<div class="col-md-12">
					<div
						class="btn-group bk-margin-bottom-10 bk-margin-top-10 pull-right">
						<button class="btn btn-sm btn-default">1-10 of 500</button>
						<button class="btn btn-sm btn-default">
							<span class="fa fa-chevron-left"></span>
						</button>
						<button class="btn btn-sm btn-default">
							<span class="fa fa-chevron-right"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<ul class="messages-list">
						<li class="unread"><a href="#/article">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date"><i
										class="fa fa-paperclip"></i> Today, 08:45 AM</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li><a href="article.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date"><span
										class="fa fa-paper-clip"></span> Today, 07:53 AM</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li><a href="page-inbox-message.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date"><i
										class="fa fa-paperclip"></i> Today, 07:49 AM</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li class="unread"><a href="page-inbox-message.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date">Yesterday,
										02:58 PM</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li class="unread"><a href="page-inbox-message.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date">Yesterday,
										01:20 PM</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li><a href="page-inbox-message.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date"><i
										class="fa fa-paperclip"></i> Yesterday, 11:57 AM</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li class="unread"><a href="page-inbox-message.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date">Yesterday,
										10:05 AM</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li><a href="page-inbox-message.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date">1
										Week ago</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li><a href="page-inbox-message.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date">3
										Week ago</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
						<li><a href="page-inbox-message.html">
								<div class="header">
									<span class="checkbox-custom"> <input type="checkbox"
										id="mailInbox"> <label for="mailInbox"></label>
									</span> <span class="from">Jhon Smith</span> <span class="date">4
										Week ago</span>
								</div>
								<div class="title">
									<span class="action"><i class="fa fa-star"></i></span> Contrary
									to popular belief, Lorem Ipsum is not simply random text.
								</div>
								<div class="description">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua......</div>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>