<!-- Page Header -->
					<div class="page-header">
						<div class="pull-left">
							<ol class="breadcrumb visible-sm visible-md visible-lg">								
								<li><a href="index.html"><i class="icon fa fa-home"></i>Home</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i>Mail</a></li>
								<li class="active"><i class="fa fa-pencil-square-o"></i>Compose</li>
							</ol>						
						</div>
						<div class="pull-right">
							<h2>Compose</h2>
						</div>					
					</div>
					<!-- End Page Header -->
					<div class="row mailbox">
						<div class="col-lg-3 col-md-3">
							<div class="panel">
								<div class="panel-body bk-bg-very-light-gray mailbox-menu">
									<a href="page-inbox-compose.html" class="btn btn-primary btn-block">Compose</a>
									<ul>
										<li>
											<a href="page-inbox.html">Inbox<span class="label label-primary">165</span></a>
										</li>
										<li>
											<a href="page-inbox-compose.html#">Stared</a>
										</li>
										<li>
											<a href="page-inbox-compose.html#">Sent Mail</a>
										</li>
										<li>
											<a href="page-inbox-compose.html#">Important<span class="label label-info">7</span></a>
										</li>
										<li>
											<a href="page-inbox-compose.html#">Draft<span class="label label-warning">3</span></a>
										</li>
										<li>
											<a href="page-inbox-compose.html#"></i>Trash</a>
										</li>
										<hr />
										<h5 class="bk-fg-primary">Labels</h5>
										<li>
											<a href="page-inbox-compose.html#">Work <span class="ball pink"></span></span></a>
										</li>
										<li>
											<a href="page-inbox-compose.html#">Private <span class="ball green"></span></a>
										</li>
										<li>
											<a href="page-inbox-compose.html#">Clients <span class="ball blue"></span></a>
										</li>
										<li>
											<a href="page-inbox-compose.html#">Travel <span class="ball orange"></span></a>
										</li>										
									</ul>									
								</div>									
							</div>							
							<div class="panel">
								<div class="panel-body bk-bg-very-light-gray mailbox-chat">
									<h5 class="bk-fg-primary">Live Chat</h5>
									<ul>
										<li><span class="ball green"></span> Sarah Hiltser</li>
										<li><span class="ball green"></span> Stephano Odo</li>
										<li><span class="ball green"></span> Malras</li>
										<li><span class="ball dark"></span> Derbi Mondro</li>
										<li><span class="ball green"></span> Jessy Doe</li>
										<li><span class="ball orange"></span> Gerry</li>
										<li><span class="ball green"></span> Kevin</li>
										<li><span class="ball yellow"></span> Carlina Minfa</li>										
									</ul>								
								</div>							
							</div>
						</div>
						<div class="col-lg-9 col-md-9">
							<div class="panel bk-bg-white">
								<div class="panel-body">
									<form class="form-horizontal bk-margin-top-10" role="form">
										<div class="form-group">
											<label for="to" class="col-sm-1 control-label">To:</label>
											<div class="col-sm-11">
												<input type="email" class="form-control bk-border-off" id="to" />
											</div>
										</div>
										<hr />
										<div class="form-group">
											<label for="cc" class="col-sm-1 control-label">CC:</label>
											<div class="col-sm-11">
												<input type="email" class="form-control bk-border-off" id="cc" />
											</div>
										</div>
										<hr />
										<div class="form-group">
											<label for="bcc" class="col-sm-1 control-label">BCC:</label>
											<div class="col-sm-11">
												<input type="email" class="form-control bk-border-off" id="bcc" />
											</div>
										</div>
										<hr />
										<div class="mailbox-compose" data-mailbox data-mailbox-view="compose">
											<form class="form-horizontal form-bordered form-bordered">						
												<div class="form-group">
													<div class="compose">
														<div id="compose-field" class="compose-control"></div>
													</div>
												</div>
											</form>
										</div>
										<div class="btn-group bk-padding-top-20 bk-padding-bottom-20 bk-padding-left-10">
											<button type="button" class="btn btn-default">Send</button>
											<button type="button" class="btn btn-default">Discard</button>
											<button type="button" class="btn btn-default">Draft</button>
										</div>	
									</form>																	
								</div>
							</div>	
						</div>	
					</div>