<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sea.swallow.dal.StateMapper">
      <select id="selectStateList" parameterType="map" resultType="com.sea.swallow.model.StateModel">
	select a.content,date_format(a.release_time,'%Y-%m-%d %H:%i:%s') releaseTime,a.state_id
	stateId,b.user_id userId from tb_state a INNER JOIN tb_activity b ON b.action_id=a.state_id
	<where>
		1=1
		<if test="userId!=null">
			and b.user_id=#{userId}
		</if>
	</where>
      </select> 
       <insert id="insertState" parameterType="com.sea.swallow.model.StateModel">
         INSERT  into tb_state (state_id,content,release_time) VALUES (#{stateId},#{content},now())
       </insert>
       <select id="selectFriendStateList" parameterType="map" resultType="com.sea.swallow.model.FriendStateModel">
		select a.content,date_format(a.release_time,'%Y-%m-%d %H:%i:%s')
		releaseTime,a.state_id
		stateId,b.user_id userId,c.nick_name
		friendNickName,c.head_img headImg from tb_state a INNER JOIN
		tb_activity b ON b.action_id=a.state_id
		LEFT JOIN tb_user c on c.user_id=b.user_id
		where c.be_deleted=0 and b.user_id IN (SELECT friend_id FROM
		tb_user_relation WHERE user_id=#{userId})   
       </select>
</mapper>